* {
    padding: 0;
    margin: 0;
    font-family: 'Cuprum',sans-serif;
}

a {
    color: rgb(0, 140, 255);
    text-decoration: none;
    font-size: 16px;
}

a, input, textarea {
    outline: none;
}

.red {
    background-color: rgb(206, 18, 18) !important;
}

.green {
    background-color: rgb(11, 197, 11) !important;
}

.yellow {
    background-color: rgb(209, 209, 0) !important;
}

.clear {
    clear: both;
}

.show-xs {
    display: none !important;
}

.hide {
    /* visibility: hidden; */
    display: none;
}

button {
    background-color: rgb(0, 140, 255);
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
    font-weight: bold;
    border: 1px solid rgb(0, 140, 255);
}

header {
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 140, 255);
    padding: 15px;
    z-index: 10;
    border-bottom: 1px dotted #aaa;
}

.logo {
    margin-left: 50px;
    letter-spacing: 2px;
}

.dashboard-header {
    position: fixed;
    width: 100%;
    background-color: rgb(0, 140, 255);
    padding: 2px;
    z-index: 11;
}

nav {
    float: right;
    margin-top: -20px;
    margin-right: 20px;
}

nav ul li {
    display: inline;
    padding-right: 30px;
}

#home {
    width: 100%;
    height: 400px;
    background-image: url('../img/2.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.home-title {
    padding-left: 50px;
    padding-top: 150px;
}

.home-title h1 {
    font-size: 30px;
}

#home-questions .title {
    font-size: 30px;
    color: #aaa;
}

#home-questions button {
    background-color: rgb(0, 140, 255);
    color: #fff;
}

#home-questions hr {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px dotted #aaa;
}

#loginBody {
    background-image: url(../img/1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.8);
}

#login {
    padding-top: 100px;
}

.login {
    width: 400px;
    height: 250px;
    color: #aaa;
}

.log {
    margin-top: 100px;
}

#login input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    padding-right: 0;
    border-radius: 3px;
    border: none;
}

#login button {
    width: 50%;
}

aside {
    width: 150px;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 1); */
    position: fixed;
    left: 0;
    padding-top: 100px;
    border-right: 1px solid #aaa;
}

aside ul li {
    padding: 10px;
    padding-left: 20px;
    /* border-bottom: 1px solid #eee; */
}

aside ul li i {
    margin-right: 10px;
    color: #aaa;
}

aside a {
    color: #aaa;
    font-size: 18px;
}

.profile-text {
    background-color: rgb(255, 0, 221);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}

.profile-text h4 {
    padding-top: 24%;
    font-weight: normal;
}

#main-page {
    position: relative;
    margin-left: 150px;
    padding: 30px;
    padding-top: 100px;
    color: #000;
}

#questions {
    width: 65%;
    padding: 10px;
    /* border: 1px solid #000; */
}

#questions h1 {
    color: #aaa;
    font-size: 30px;
}

#questions hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0.5px solid #aaa;
}

.question-text {
    line-height: 25px;
    letter-spacing: 0.3px;
    color: rgb(167, 42, 42);
}

.text-right {
    float: right;
    color: #aaa;
}

.answers {
    line-height: 25px;
    letter-spacing: 0.3px;
    color: #302f2f;
}

.answer-title {
    font-size: 25px;
    color: #aaa;
}

.answer {
    color: #aaa;
    font-size: 30px;
    margin-bottom: 10px;
}

.answer-section textarea {
    width: 90%;
    resize: none;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid rgb(0, 140, 255);
}

.answer-section button {
    background-color: rgb(0, 140, 255);
    color: #fff;
}

#right-sidebar {
    position: absolute;
    /* width: 30%; */
    top: 10%;
    right: 20%;
    height: 500px;
    padding-left: 20px;
}

#right-sidebar h1 {
    font-size: 20px;
    color: #aaa;
}

.sidebar-list {
    margin-top: 10px;
}

.sidebar-list ul li {
    list-style: none;
    margin-bottom: 10px;
}

.sidebar-list ul li a {
    font-size: 16px;
}

.ask input, .ask textarea {
    display: block;
    margin-bottom: 10px;
    width: 90%;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    resize: none;
    border-radius: 2px;
    border: 1px solid rgb(0, 140, 255);
}

.dropdown {
    background-color: #fff;
    position: absolute;
    width: auto;
    height: auto;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    z-index: 12;
    padding: 10px;
    right: 60px;
}

.dropdown ul li {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
}

.search {
    width: 200px;
    padding: 5px;
}

#home-questions {
    width: 65%;
}

.h-questions {
    padding: 10px;
    line-height: 30px;
    border-bottom: 3px dotted #aaa;
    margin-bottom: 10px;
}

.tags ul li {
    display: inline;
    padding-right: 10px;
}

.tags ul li a {
    background-color: rgb(0, 140, 255);
    color: #fff;
    font-size: 12px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.review ul li {
    display: inline;
    padding-right: 10px;
}

.review ul li span.text {
    color: #aaa;
    font-size: 13px;
}

.review ul li span.count {
    background-color: rgb(0, 140, 255);
    color: #fff;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#background-profile {
    width: 100%;
    height: 300px;
    background-image: url('../img/1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.8);
    background-attachment: fixed;
    color: #fff;
}

.profile-photo {
    position: absolute;
    background-image: url('../img/no-profile.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    top: 250px;
    left: 50px;
}

.revs {
    position: absolute;
    top: 240px;
    right: 30px;
}

footer {
    background-color: rgb(0, 140, 255);
    padding: 30px;
    color: #fff;
    text-align: center;
    z-index: 20;
}

footer a {
    color: #eee;
}

@media (max-width: 900px) {
    .hide-xs {
        display: none;
    }

    .show-xs {
        display: inherit !important;
    }

    header {
        padding-left: 5px;
        padding-right: 5px;
    }

    .logo {
        margin-left: 10px;
    }

    nav ul li:last-child {
        padding-right: 10px;
    }

    #home {
        height: 350px;
    }

    #main-page {
        margin-left: 0;
    }

    #questions, #home-questions {
        width: 100%;
    }

    #right-sidebar {
        width: 100%;
        position: relative;
        right: 0;
        top: 0;
    }

    .h-questions .text-right {
        float: none;
    }

    #loginBody {
        background-color: #000;
        background-image: none !important;
    }

    #askBody #right-sidebar, #profileBody #right-sidebar {
        display: none;
    }

    .revs {
        top: 80px;
        right: 0;
    }

    footer {
        font-size: 14px;
    }
    
}

@media (max-width: 500px) {
    .login {
        width: 300px;
    }

    .login p, .login a {
        font-size: 13px;
    }
}

@media (max-width: 350px) {
    .login {
        width: 200px;
    }
}